<a href="https://colab.research.google.com/github/alicechen1998/CSC-448-AI/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import section
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import BayesianRidge
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import ShuffleSplit
from sklearn import linear_model

In [ ]:
#Using pandas load the dataset
dataset = pd.read_csv("https://raw.githubusercontent.com/profmcnich/example_notebook/main/science_data_large.csv")

#output the first 15 rows of the data
dataset.head(15)

    Temperature 째C  Mols KCL     Size nm^3
0              469       647  6.244743e+05
1              403       694  5.779610e+05
2              302       975  6.196847e+05
3              779       916  1.460449e+06
4              901        18  4.325726e+04
5              545       637  7.124634e+05
6              660       519  7.006960e+05
7              143       869  2.718260e+05
8               89       461  8.919803e+04
9              294       776  4.770210e+05
10             991       117  2.441771e+05
11             307       781  5.006455e+05
12             206        70  3.145200e+04
13             437       599  5.390215e+05
14             566        75  9.185271e+04

In [ ]:
#Display a summary of the table information
dataset.info()
dataset.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature 째C  1000 non-null   int64
 1   Mols KCL        1000 non-null   int64
 2   Size nm^3       1000 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 23.6 KB

       Temperature 째C     Mols KCL     Size nm^3
count     1000.000000  1000.000000  1.000000e+03
mean       500.500000   471.530000  5.086111e+05
std        288.819436   288.482872  4.474838e+05
min          1.000000     1.000000  1.611429e+01
25%        250.750000   226.750000  1.298267e+05
50%        500.500000   459.500000  3.827182e+05
75%        750.250000   710.250000  7.603211e+05
max       1000.000000  1000.000000  1.972127e+06

In [ ]:
# Take the pandas dataset and split it into our features (X) and label (y)

features_x = dataset[["Temperature 째C","Mols KCL"]]
features_y = dataset[["Size nm^3"]]
features_x.head(),features_y.head()

(   Temperature 째C  Mols KCL
 0             469       647
 1             403       694
 2             302       975
 3             779       916
 4             901        18,
       Size nm^3
 0  6.244743e+05
 1  5.779610e+05
 2  6.196847e+05
 3  1.460449e+06
 4  4.325726e+04)

In [ ]:
# Use sklearn to split the features and labels into a training/test set.
x_training, x_test, y_training, y_test =train_test_split(features_x,features_y,test_size=.10)
x_training, x_test, y_training,y_test

(     Temperature 째C  Mols KCL
 867              44       193
 787             877       693
 626             529       203
 894              40       173
 359             910       954
 ..              ...       ...
 151             464        18
 336             555       836
 120               3         5
 236             766       485
 671             763       302

 [900 rows x 2 columns],
      Temperature 째C  Mols KCL
 872             254       662
 986             853       458
 729             459        85
 499             426       708
 988             250        83
 ..              ...       ...
 930             620       898
 194             699       236
 704              85       439
 967             533       963
 19              227       864

 [100 rows x 2 columns],
         Size nm^3
 867  1.857626e+04
 787  1.239767e+06
 626  2.222994e+05
 894  1.517511e+04
 359  1.773203e+06
 ..            ...
 151  2.228126e+04
 336  9.545885e+05
 120  6.671429e+01
 236  7.589327e+05
 671  4.726138e+05

 [900 rows x 1 columns],
         Size nm^3
 872  3.518653e+05
 986  7.975773e+05
 729  8.374443e+04
 499  6.226498e+05
 988  4.469683e+04
 ..            ...
 930  1.144000e+06
 194  3.399073e+05
 704  8.115631e+04
 967  1.059450e+06
 19   4.163085e+05

 [100 rows x 1 columns])

In [ ]:
# Use sklearn to train a model on the training set
training_set = LinearRegression().fit(x_training,y_training)

# Create a sample datapoint and predict the output of that sample with the trained model
predict = training_set.predict(np.array([[339,759]]))
print("prediction result is :",predict)
score = training_set.score(x_test,y_test)
print("the score is ",score)

# Extract the coefficents and intercept from the model and write an equation for your h(x) using LaTeX
coeff = training_set.coef_
inter = training_set.intercept_
print("Cofficents:",coeff)
print("intercept:",inter)

prediction result is : [[660529.91846883]]
the score is  0.8656836141108663
Cofficents: [[ 871.73802283 1024.64056704]]
intercept: [-412691.46165248]

C:\Users\nianx\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

# Report on the score for that model, in your own words (markdown, not code) explain what the score means

The score shows us how the accurate of our data is.

In [ ]:
# Use the cross_val_score function to repeat your experiment across many shuffles of the data

scores = cross_val_score(training_set,features_x,features_y,cv = 50)
print(scores)

[0.64882522 0.78728015 0.85631925 0.85044365 0.87021809 0.83725501
 0.90893923 0.86877506 0.79069681 0.84660731 0.80594196 0.79256554
 0.89416959 0.92396806 0.86706903 0.86850174 0.86099373 0.88308441
 0.87893048 0.75694778 0.88168173 0.93386456 0.85976771 0.8280768
 0.88461523 0.78619831 0.86823597 0.87887634 0.88814958 0.65689015
 0.89850348 0.87893767 0.86607369 0.87570745 0.85212462 0.88574623
 0.80215454 0.89837729 0.79802598 0.87495632 0.81054851 0.4941715
 0.79714043 0.77884766 0.85771576 0.85664386 0.91958977 0.87456685
 0.9053441  0.8647177 ]

In [ ]:
# Report on their finding and their significance
#it is very similar to part 3, the measure of accuracy.. as you can see the range is around 80 to 67 with an outlier of 49.

In [ ]:
# Using the PolynomialFeatures(2)library perform another regression on an augmented dataset of degree 2
polynomial = PolynomialFeatures(2)
x_training = polynomial.fit_transform(x_training)
x_test = polynomial.fit_transform(x_test)
y_test = np.array(y_test)

model = linear_model.LinearRegression()
model.fit(x_training,y_training)
print("The score: ", model.score(x_training,y_training))
print("The prediction:",model.predict(x_test))
print("the coefficients:",model.coef_)
print("The intercept:",model.intercept_)

The score:  1.0
The prediction: [[3.51865257e+05]
 [7.97577257e+05]
 [8.37444286e+04]
 [6.22649829e+05]
 [4.46968286e+04]
 [3.50800114e+05]
 [4.16356029e+05]
 [7.90416000e+04]
 [2.26740429e+05]
 [2.33313257e+05]
 [6.68045716e+03]
 [1.46083211e+06]
 [1.39407457e+05]
 [1.20913260e+06]
 [4.56082714e+05]
 [1.31596457e+05]
 [1.66058286e+04]
 [4.10314304e+02]
 [1.07312314e+05]
 [2.88919429e+05]
 [5.23650400e+05]
 [7.58377114e+05]
 [2.45986714e+05]
 [1.70761660e+06]
 [4.58031857e+05]
 [3.26921143e+04]
 [8.28351143e+04]
 [3.62571630e+01]
 [5.36190829e+05]
 [4.40629714e+05]
 [8.41912114e+05]
 [1.97212740e+06]
 [1.70568429e+05]
 [4.31400600e+05]
 [9.25585716e+03]
 [1.40512903e+06]
 [5.89426857e+05]
 [6.03241257e+05]
 [1.03650411e+06]
 [2.64800029e+05]
 [1.04120286e+04]
 [2.87068457e+05]
 [1.21469714e+05]
 [1.53670731e+06]
 [4.68467143e+04]
 [3.27117457e+05]
 [8.14731430e+03]
 [1.15344643e+06]
 [3.86430429e+05]
 [1.07736803e+06]
 [4.92524600e+05]
 [2.19952457e+05]
 [3.59614029e+05]
 [4.22777829e+05]
 [1.07004960e+06]
 [5.81400286e+04]
 [1.49315314e+05]
 [2.56361143e+04]
 [1.76954503e+06]
 [2.42666829e+05]
 [3.05595400e+05]
 [9.08938286e+04]
 [1.02880114e+05]
 [2.16833457e+05]
 [7.07185714e+05]
 [7.67623429e+05]
 [8.91769114e+05]
 [3.75531400e+05]
 [9.02100600e+05]
 [7.91088286e+04]
 [6.65511429e+03]
 [2.84966314e+05]
 [1.50487143e+04]
 [1.30380711e+06]
 [1.97787143e+04]
 [8.51571314e+05]
 [8.18464114e+05]
 [1.47449711e+06]
 [2.89780114e+05]
 [6.70937114e+05]
 [3.25132829e+05]
 [4.77348457e+05]
 [1.14387431e+06]
 [1.29384686e+06]
 [1.28284457e+05]
 [3.78242857e+05]
 [1.72224626e+06]
 [1.60854571e+04]
 [7.81566429e+05]
 [1.23143271e+06]
 [1.25717211e+06]
 [7.42452257e+05]
 [8.70682858e+03]
 [1.73630100e+06]
 [4.92338400e+05]
 [1.14400011e+06]
 [3.39907314e+05]
 [8.11563143e+04]
 [1.05945026e+06]
 [4.16308457e+05]]
the coefficients: [[ 0.00000000e+00  1.20000000e+01 -1.41971645e-07  3.19033688e-12
   2.00000000e+00  2.85714287e-02]]
The intercept: [2.05796096e-05]

# Report on the metrics and output the resultant equation as you did in Part 3
The equation is: y = 0 + 1.20000000e+01